[2016-04-26 21:26] jcohenho opened #16 "Can't send any emails"
I've created an API key in my sendgrid dashboard and have added:

[code]
to production.rb. Sending an email with a UserMailer class in console generates:

[code]

However nothing ever arrives in my inbox, and sendgrid dashboard doesn't show any activity for an outbound email. Any other settings I'm forgetting to include?

[2016-04-26 22:27] GUI commented on #16
Hm, I'm not exactly sure about this, but a few thoughts:

- Is there any error output in `log/production.log`?
- Is `ENV['SENDGRID_API_KEY']` set within the your console where you were running the command?
- Have you set `config.action_mailer.raise_delivery_errors = false` in your `config/environments/production.rb` or `config/application.rb`?

[2016-04-26 23:32] jcohenho commented on #16
😵 Fail. I forgot how to use ActionMailer and didn't use deliver_now or deliver_later following mail creation. Works great now, thanks!

[2016-04-26 23:32] #16 closed

[2016-12-23 22:49] RichardGrossman opened #18 "Devise"
Can you add doc for the steps needed to make this work with Devise?

[2016-12-23 23:18] RichardGrossman commented on #18
I see you are not actively supporting this gem - it's for an old version of Ruby.  Can you say that somewhere in your doc or else remove it from Github?  There are links to it elsewhere and it's a deadend and time waster.

[2016-12-23 23:19] eddiezane commented on #18
Pull requests are welcome, sir.

[2016-12-23 23:19] #18 closed

[2017-07-26 19:03] rossettistone opened #21 "Incompatibility with new SendGrid API (v3)"
Using this gem, I've been getting intermittent "Could not authenticate" errors from SendGrid when trying to send emails. As they're intermittent, I've been having trouble getting to the root cause, but I did run across this note in SendGrid's docs:

"API Keys work for v3 API calls and for sending email. API endpoints prior to v3 do not support API keys at this time." - https://sendgrid.com/docs/Cl

[2017-07-31 07:46] MxBird commented on #21
@rossettistone did you have any way to integrating with SendGrid API V3 in RoR project.  I'm in the the same situation

[2017-07-31 17:12] eddiezane commented on #21
Not sure when I'll have time to upgrade the inner workings but if someone is look to become a contributor you'd just need to swap in the [new version](https://github.com/sendgrid/sendgrid-ruby#with-mail-helper-class) of the library [here](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb).

[2017-07-31 21:55] rossettistone commented on #21
Thanks, @eddiezane. Should I have some slack, I'll take a swing at contributing!

@MxBird Sendgrid has decent docs on Rails integration here: https://sendgrid.com/docs/Integrate/Frameworks/rubyonrails.html

I can't find the docs on using an API key specifically (they're around here somewhere...), but I think it's pretty much the same as the general Rails docs, except replace `username` with `'apik

[2017-07-31 21:55] #21 closed

[2017-08-04 22:07] eddiezane commented on #21
To clarify - this library integrates SendGrid's HTTP API with ActionMailer.

You can use plain old ActionMailer to work with SMTP out of the box. One of the reasons you might want to go through the HTTP API is for less round trips (SMTP is a very chatty protocol).

Hope that helps!

[2017-09-06 07:00] nitvik opened #22 "NoMethodError: undefined method `settings' for #<SendGridActionMailer::DeliveryMethod:0x0055cc36982d50>"
I got this error, when I was just testing this Gem for the first time.
I made a new Mailer called SendgridMailer and defined a method in that as test_send_email and sent an email to myself. Then I opened rails console and tried sending an email and I got the following error.

Rails version is 4.1.14

[code]

[2017-09-06 14:21] GUI commented on #22
Based on [this thread](https://github.com/aws/aws-sdk-ruby/issues/246#issuecomment-17849159), try calling `.deliver` instead of `.deliver!` (no bang).

It looks like adding compatibility with `.deliver!` should be possible, but it also looks like `.deliver` should generally be the preferred method.

[2017-09-11 06:22] nitvik commented on #22
I have found a solution to this when I cloned your gem. That is to define the settings method. I can make a new branch and push it and create a pull request to your repository with the fix, if you would like.

[2017-09-28 00:30] chrisconcepcion commented on #22
I have the same issue, @nitvik can you please make a pull request with your solution

[2018-08-16 00:26] tyrauber commented on #22
@nitvik, @chrisconcepcion, this has been resolved on master.

[2018-08-16 00:26] #22 closed

[2018-08-16 18:57] tyrauber opened #25 "Utilize the full SendGrid V3 Mail Send API"
The gem current api implementation is limited to:

 * from
 * reply-to
 * subject
 * to
 * cc
 * bcc
 * text_part, html_part
 * attachments

The Sendgrid V3 API Mail Send method provides for additional attributes including:

 * template_id
 * headers
 * categories
 * custom_args
 * send_at
 * batch_id
 * asm attributes
 * ip_pool_name
 * mail_settings
 * tracking settings
 * ganalytics settings

D

[2018-08-31 12:01] h6ah4i opened #27 "DeliveryMethod#settings method is not implemented properly"
The `DeliveryMethod#settings` method should return a Hash object which is passed to the constructor. However, current implementation just returns [an empty Hash](https://github.com/eddiezane/sendgrid-actionmailer/blob/8720222/lib/sendgrid_actionmailer.rb#L36).

Current implementation causes an issue when I use `return_response` option which is supported by the [mikel/mail](https://github.com/mikel

[2018-08-31 12:29] h6ah4i opened #29 "Email address with name is not handled properly"
I noticed some issues with address like `User Name <example@example.com>` format.

## Issue 1
If there are quotation marks around the user name, quotation marks are not removed.

`"User Name" <example@example.com>`

[code]

Actually, this bug came from the [`split_email` method of `sendgrid/sendgrid-ruby`](https://github.com/sendgrid/sendgrid-ruby/blob/d206382/lib/sendgrid/helpers/mail/email.rb#L3

[2018-08-31 21:38] tyrauber commented on #27
@h6ah4i Thank you for the pull request and thorough explanation.

[2018-08-31 21:59] #29 closed

[2018-09-03 03:36] h6ah4i commented on #29
@tyrauber Thanks for the quick response 👍

[2018-09-05 01:38] #25 closed

[2018-09-05 01:39] #27 closed

[2018-10-10 14:41] skatenerd opened #35 "Categories containing commas"
I noticed that, if I send an email that looks like this:
[code]
This library ends up mangling the API request, because it [splits the categories on commas](https://github.com/eddiezane/sendgrid-actionmailer/blob/dd3999b24fa9e4cb82106ded488665814d727284/lib/sendgrid_actionmailer.rb#L151).

I want to say right now, I would understand if you said "we dont support this, you are abusing the Categories

[2018-10-10 16:27] tyrauber commented on #35
@skatenerd What categories you are intending / expecting?  Is `categories: [{foo: 42, bar: 99}.to_json]` supposed to be an array of 2 categories? Or a single category encoded as json?  What are the category names on SendGrid?

[2018-10-10 17:11] skatenerd commented on #35
@tyrauber It's supposed to be a single category encoded as json.  I don't think our app has any concept of category names.

[2018-10-10 17:31] tyrauber commented on #35
@skatenerd  Hmm, for what purpose? I am trying to understand the use case.  Categories are intended to be used in SendGrid to help sort and filter emails sent by Category.  It seems though that you might be using categories for some other purpose?

Unfortunately Mail is very finicky with extra data and how it is encoded. And while @unparsed_value would work for Mail2.7, it is not supported in Mail

[2018-10-10 18:05] skatenerd commented on #35
Basically, our use case is one where we're abusing `categories`, in a situation where we _should_ just be using `unique_args`.  We're sending data to sendgrid, so that when they hit our webhook endpoint, we have some extra data about the email that was sent.

I think probably the best approach here is to just fix the legacy code, and move over to using `unique_args`

[2018-10-10 20:18] tyrauber commented on #35
@skatenerd I think it's actually `custom_args` instead of `unique_args`.   `custom_args` would definitely be a better attribute for that use case. Unfortunately, I think you'll have the same json encoding issues. But if you change your webhook endpoint, to parse all custom_args individually, instead of a single attribute as json, you should get all the data you need.

I am going to close this as i

[2018-10-10 20:18] #35 closed

[2018-11-23 13:42] thomassnielsen opened #37 "Substitutions may not be used with dynamic templating"
gem version: 2.1.0

I'm trying to switch to using the new dynamic templates, but I keep getting `Sendgrid delivery failed with 400 Substitutions may not be used with dynamic templating`  when sending emails. I've tried different options based on the readme (with and without a `dynamic_template_data` object, etc), but I'm basically stuck.

What I've been trying so far:
[code]

The docs says that su

[2018-11-23 17:10] tyrauber commented on #37
Hi @thomassnielsen, thank you for the detailed report.   I think I see the issue based on the error message. It looks like substitutions cannot be used at the same time as a dynamic template. I made a [change](https://github.com/eddiezane/sendgrid-actionmailer/commit/d36645ade920b5953a933c940bce0706971f1789) to allow this, which based on the error message, looks like it broke the new dynamic templ

[2018-11-23 17:21] jennapederson commented on #37
I was experiencing the same and this branch does fix the issue.

Does the readme need updating with this change? I don't fully follow [this](https://github.com/eddiezane/sendgrid-actionmailer#unsubscribe-links) or how to solve that problem when using dynamic templates.

[2018-11-23 23:30] tyrauber commented on #37
Hi @jennapederson, Thanks for the confirmation.  Yeah, the Readme should probably be updated to specify that substitutions cannot be used in combination with dynamic templates. I added a note to the readme, merged in and cut a build for 2.2.0.  Thanks for the contribution!

[2018-11-25 14:11] thomassnielsen opened #39 "Optional fields"
The readme states that

This seems to be borrowed from the Sendgrid docs. It's not actually the case with ActionMailer (5.2.1) though. Trying to send an email without a subject causes `NoMethodError: undefined method `humanize' for nil:NilClass` in `gems/actionmailer-5.2.1/lib/action_mailer/base.rb:880`.

Trying to send an email without a body causes `NoMethodError: undefined method `empty?' for n

[2019-01-03 08:33] thomassnielsen opened #41 "mail_settings cannot be empty hash"
Passing `mail_settings: {}` causes a crash when sending emails.

The error is caused by the [usage of `json_parse` to parse mail settings](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L184). The regex used in [`json_parse`](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L138)  is confused by blank strings,

[2019-01-03 17:57] tyrauber commented on #41
Hey @thomassnielsen,  Given the gem passes options through Mail, and Mail treats those attributes as strings, json encoding was required.  The [json_parse](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L184) method was intended to enable ruby hash syntax for mail options, in addition to json.  The ['parse_object' context spec](https://github.com/eddiez

[2019-01-04 01:38] #39 closed

[2019-01-04 16:20] #41 closed

[2019-02-05 16:07] stefanlindbohm opened #46 "Update changelog"
The changelog is super useful when updating gems, but the one for this project is out of date. It would be great to have it updated for future versions, and even better to have it retroactively updated for previous versions.

[2019-03-12 18:44] godzilla74 opened #47 "to field issue Sendgrid delivery failed with 400 The template_id must be a valid GUID"
Seems that the `to:` field has an issue.  When using a `.each` loop, running into issues, however if it's mapped seems to work fine.  The issue with going the mapped route, is all users show up on the to line in the email:

Works:

[code]

Does not work:
[code]

The error:
[code]

[2019-03-12 19:46] tyrauber commented on #47
@godzilla74, If you want to send an email to unique `to:` addresses, where the distribution list isn't public, then the second scenario would definitely be the preferred approach. The first approach would send one email to multiple people as to addressees.

But the error actually suggests it might be related to the template_id:  `Sendgrid delivery failed with 400 The template_id must be a valid GU

[2019-03-12 20:06] godzilla74 commented on #47
@tyrauber Yup, the template is valid.  Works fine with the `.map` method, which I really don't want to do since each user email should be treated separately.

[2019-03-12 20:29] tyrauber commented on #47
That is really odd.  I see no reason why each would result in the error.  The error message from SendGrid definitely suggests it is an invalid GUID.  Could an email be nil? in User.all or be unsubscribed or in an ASM group?  I know sendgrid will filter out unsubscribed email addresses resulting in a nil or empty to, but the error message should indicate that, not an invalid GUID.

When you do each

[2019-03-12 22:11] godzilla74 commented on #47
@tyrauber I agree.  Printing the email to console with `puts u.email` does show the email address, and it's a new SendGrid account, so no blocking logic on that end there.  I'll try to dive into the gem's source code a little later to see if there is anything that can be modified.  Figured I would try making an issue first to see if there was a simple fix.

[2019-03-13 16:53] tyrauber commented on #47
I appreciate it. Fastest way to debug this would be to clone the app and write a test case replicating the scenario. A failure test case would be immensely helpful.   Please keep us posted.

[2019-04-10 03:17] shijudevarajan commented on #37
I am still getting the same error.
What I've been trying so far:
[code]
[code]

[2019-04-10 15:46] tyrauber commented on #37
@shijudevarajan I think I see the issue. Can you try the branch fix/template_id_substitutions and confirm the solution. Thanks.

[2019-04-10 18:17] shijudevarajan commented on #37
@tyrauber You know what, it worked! So can I point to that branch for my project? Do you have any plan to merge that fix to master any time soon?

[2019-04-10 23:56] tyrauber commented on #37
@shijudevarajan Merged. Cut a new build with a minor version bump to 2.3.0.  Lock it to '~> 2.3', bundle update and you should be good to go.

[2019-04-10 23:56] #37 closed

[2019-04-23 05:54] Hamdan85 commented on #47
Im getting the same error. Is this gem also supposed to work only on legacy?

[2019-04-23 16:21] tyrauber commented on #47
That could be the issue. I don't know if legacy templates are supported in the v3 API?  This gem is a wrapper around the official [sendgrid-ruby](https://github.com/sendgrid/sendgrid-ruby) gem, which defaults to Version 3 of the API.  It does look like the sendgrid-ruby can use the v2 API. You could use that gem directly, or [migrate your templates](https://sendgrid.com/docs/ui/sending-email/migra

[2019-04-23 20:16] Hamdan85 commented on #47
No... actually its working... I just typed the template id wrongly. Thanks and sorry

[2019-07-09 15:42] macfanatic opened #50 "Support sendgrid-ruby 6.0"
Is there any reason that the library won't support [sendgrid-ruby version 6](https://rubygems.org/gems/sendgrid-ruby/versions/6.0.0) that was released in June 2019?

It appears in the [project changelog](https://github.com/sendgrid/sendgrid-ruby/blob/master/CHANGELOG.md#600---2019-06-04) that the only breaking change was the removal of `sinatra` for inbound messaging parsing, that this library wou

[2019-07-09 17:10] tyrauber commented on #50
None. Updated, bumped and pushed in 2.4.0. Thanks for the heads up.

[2019-07-09 17:10] #50 closed

[2019-07-09 17:21] tyrauber commented on #46
Updated.

[2019-07-09 17:21] #46 closed

[2019-07-09 17:56] macfanatic commented on #50
Absolutely, beat me to even attempting to test and submit a PR for it.

Thanks so much!

[2019-07-21 04:56] rafaeelaudibert commented on #47
Can you check if it works with the following?
The `each` method was supposed to return the original array, not the array with mails you are trying to generate.

`ruby
  User.all.map do |u|
    mail(to: u.email, template_id: 'xxxx-xxxx-xxxxx-xxxxx-xxxxx')
  end
`

[2019-09-01 14:58] tkyol opened #52 "Cannot send variables to a template"
Hi there,

I'm struggling to pass variables from my rails app to my Sendgrid template.
Everything else works fine.

Here is the code I'm using:

[code]

and I tried all of the following in my template:

[code]
Any idea?

I also tried `unique_args` && `sub`

[2019-09-03 12:41] DKarp commented on #52
I have the same issue too

[2019-09-03 13:10] DKarp commented on #52
OMG, got it! Inside template need use double curly brackets {{variable_1}}

[2019-09-03 16:06] tyrauber commented on #52
Yeah, [Sendgrid uses handlebars for template variables](https://sendgrid.com/docs/for-developers/sending-email/using-handlebars/).  I've updated the Readme to reflect that fact.  Thanks for raising this issue.

[2019-09-03 16:06] #52 closed

[2019-09-03 16:45] tkyol commented on #52
Awesome! The only one I didn't test haha. Thanks for the feedback @DKarp and for the update @tyrauber

[2019-11-22 16:46] bcwik9 opened #56 "get Sendgrid message ID back from mail call"
Is is possible to get the ID Sendgrid assigns the email when calling `mail`? I was looking to do something like:
[code]

I see there is an option to pass in `return_response`, but it looks like I get the same data back when calling `mail`.

Thank you.

[2019-11-22 20:30] bcwik9 commented on #56
I realize now I don't think this is necessary, since the sendgrid ID is built using the smtp ID my server is sending.

[2019-11-22 20:30] #56 closed

[2019-12-19 04:01] tyrauber commented on #47
@rafaeelaudibert, the `each` and `map` method returns an array of the last object in the block, in this case the sole object is the result of mail(). If you added another line at the end of the block with `u`, it would return an array of users.

[2019-12-19 04:01] #47 closed

[2020-01-07 03:15] joshm1204 opened #58 "sendgrid_actionmailer_settings => options"
What are the options you can set for sendgrid_actionmailer_settings?  e.g. can you set the 'domain'?

[code]

[2020-01-13 10:23] tyrauber commented on #58
@joshm1204, those appear to be the only two options available. This gem utilizes the [send-grid ruby gem](https://github.com/sendgrid/sendgrid-ruby) which makes use of the [Sendgrid v3 Mail Api](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html). I see no reference to setting a 'domain' there. But the sender domain is referenced in the 'from' and 'reply-to'? Is that what you are l

[2020-01-13 21:59] travisp opened #59 "Support for bulk email personalizations?"
One of the nice features of the sendgrid API is that it's possible to send multiple emails to different recipients using personalizations. For example, suppose you have a feature where a group of users want to be notified when something happens. Instead of looping through each user and making a separate API call for each one, personalizations can be used to make one API call that sends a separate

[2020-01-14 11:14] tyrauber commented on #59
Hi @travisp, pull requests are welcome!

I am wondering if something like this might be best accomplished with dynamic templates and dynamic_template_data?  As of now, dynamic template personalization works on a mail by mail basis, but I see no reason why an array couldn't be passed to 'dynamic_template_data' and have an email attribute override the 'to' attribute.

[code]

[2020-01-14 13:56] travisp commented on #59
@tyrauber I think that could work great for a lot of people. The challenge here is that I prefer not to use templates and to keep the email content in my source code. I don't know how common email templates usage is (it seems to depend on the size and makeup of the team that works on a project).

Without holding you to it, are you open to the `is_multiple` approach? I'd be happy to put together a

[2020-01-14 14:49] tyrauber commented on #59
Absolutely. Pull requests are appreciated! I think adding the ability to send multiple emails to different recipients using personalizations, would be a significant improvement. The only thing I question is implementation.

Looking at the [personalization api examples](https://sendgrid.com/docs/for-developers/sending-email/personalizations/#sending-two-different-emails-to-two-different-groups-of-r

[2020-01-14 16:39] travisp commented on #59
I'm happy to take that approach. Although I think there's something simple with `is_multiple`, I agree that it would have more potential for confusion or error. I'll see if I can get up a PR for feedback.

[2020-01-17 09:54] dramalho opened #61 "Not all error messages have a body"
Hi all

Unlike what [Sendgrid says](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html)

We're been getting a bodyless `401` - our free dev account has run out of email deliveries. This is fine except that it's blowing up inside the `sendgrid-actionmailer` gem , namely here

[code]

with

` JSON::ParserError: 767: unexpected token at ''`

I guess testing the body before trying to

[2020-01-20 15:38] #61 closed

[2020-01-20 15:42] dramalho commented on #61
lovely, thanks @tyrauber

[2020-01-20 15:43] tyrauber commented on #61
Well, that was silly of us to expect an error to return an error message. I've pushed a fix to master. Bumped to 2.4.1.  let us know if that resolves the issue.

[2020-01-20 15:49] dramalho commented on #61
the documentation is misleading, they say they *always* return a full error message, but then not really.

totally unexpected, thank you for handling it :)

[2020-01-21 09:47] coding-bunny opened #63 "NoMethodError: undefined method `sendgrid_actionmailer_settings=' for ActionMailer::Base:Class"
Is this an intended change with the 2.4.1 version?

[2020-01-21 09:57] tyrauber commented on #63
No, lock it to 2.4.0. I'll debug it and push a version bump and yank 2.4.1.  Thanks for the heads up.

[2020-01-21 10:00] coding-bunny commented on #63
will do! Thanks for the fast response

[2020-01-21 10:15] tyrauber commented on #63
2.4.2 has been pushed and 2.4.1 yanked.  My apologies.

[2020-01-21 10:15] #63 closed

[2020-01-21 16:45] tyrauber commented on #59
Merged in #60. Minor version bump to 2.5.0 pushed.

[2020-01-21 16:45] #59 closed

[2020-01-21 16:59] koppen opened #66 "Cannot parse variable with `=>`"
We've encountered an issue when trying to send an email using a dynamic template, where one o the dynamic template variables contain a `=>`.

## How to reproduce

The following test case demonstrates the issue:

          it "should not mess up contents" do
            custom_args = {"text" => "line with a => in it"}
            mail["custom_args"] = custom_args
            mailer.deliver!(mail)

[2020-01-23 08:50] koppen opened #68 "Using a dynamic template only sends the text/plain part"
We use the dynamic template feature of SendGrid quite heavily. All of our templates contain both a HTML version and a Plain Text version (both auto generated and manually created). This has worked fine until august 13th or so, after which our emails stopped containing the text/html part.

## How to reproduce

Given a Dynamic Template with id `d-8bc581e6c95d4a9a8f47ee85bcda656a` containing both a H

[2020-01-23 12:16] tyrauber commented on #68
@koppen Thank you for the detailed Issue and Pull Request.   I wonder if the issue started with [the update to sendgrid-ruby ~> 6 on July 9th](https://github.com/eddiezane/sendgrid-actionmailer/commit/5f1124d6b39e5a160e7ee50971745e34de5570c0) or whether it was a Sendgrid API change.

Regardless, I agree with your assessment.  I think my preference would be option 1. Remove the content from the pay

[2020-01-23 12:23] #68 closed

[2020-01-23 12:39] koppen commented on #68
I am pretty sure this is a SendGrid API change. I spent a good amount of time with their support and it sounded like we weren't the only ones that hit this issue; in any case they knew exactly what could be the fix without knowing what library we used.

Also, the behavior is consistent when using the API directly via curl, ie not using sendgrid-ruby.

Phew, that's what I did 😅

[2020-01-23 12:45] tyrauber commented on #68
:+1:  Merged and bumped to 2.6.0.  Thanks for the Pull Request!

[2020-01-23 14:05] koppen commented on #68
This is part of what SendGrid support told us when we talked to them, again reinforcing it is a behavior change on their end:

[2020-01-27 16:48] davydav opened #70 "json_parse issue"
Hi there ! I've read the other issues regarding the `json_parse` method, however I think my issue is different : I'm trying to upgrade our project from SendGrid v1 to v3 using your gem; all of our email templates contain fields to be substitued using the handlebar syntax.
I pass a personalization object looking like this :
[code]
But I get this error :
[code]

I'm trying to understand where the ex

[2020-01-28 17:33] travisp commented on #70
Although I worked on the personalizations feature, this seems similar to https://github.com/eddiezane/sendgrid-actionmailer/issues/66 -- the method of accessing the attributes from the mail object seems to use JSON parsing to preserve backwards compatibility with older mail versions. The `unparsed_value` method wasn't exposed by mail until 2.7.1

To solve this, sendgrid-mailer converts the result

[2020-01-28 21:57] ChrisCoffey opened #71 "0.2.6 release"
Hello. I've just started using this gem and noticed that the latest release here on GH is quite out of date relative to what's on RubyGems.

It'd be helpful to keep them in-sync.

[2020-02-03 12:55] tyrauber commented on #71
Hi @ChrisCoffey Can you give me an example of how they are out of sync?  The second to last commit on master produced the 2.6 build on rubygems. What am I missing?

[2020-02-03 16:35] ChrisCoffey commented on #71
Ahh, apologies for being unclear. I was referring to the git hub releases here: https://github.com/eddiezane/sendgrid-actionmailer/releases. Of which, the most recent release is `0.2.1`.

[2020-02-05 03:59] tyrauber commented on #71
Ah I see, no problem. [Cut current release](https://github.com/eddiezane/sendgrid-actionmailer/releases/tag/v2.6.0). Sorry about that.

[2020-02-05 03:59] #71 closed

[2020-02-05 11:02] ChrisCoffey commented on #71
Thanks!

[2020-03-02 09:56] #66 closed

[2020-03-02 10:18] tyrauber commented on #70
@travisp This is addressed in 3.0.0. Thanks for raising this issue.

[2020-03-02 10:18] #70 closed

[2020-04-02 13:25] davydav opened #74 "Error parsing empty response body"
Hi there !

I ran into this exception : `A JSON text must at least contain two octets!` which happens on this line in your code :
`message = !!(result.body) ? JSON.parse(result.body).fetch('errors').pop.fetch('message') : 'Sendgrid API Error'`

as apparently, some 401 responses from Sendgrid have an empty body...
Moreover, I ran into another 401 saying :
`Sendgrid delivery failed with 401 Could no

[2020-04-03 08:39] tyrauber commented on #74
Hi @davydav, that's odd. !!(result.body) should catch an empty body.  That line was added in #61 to address this exact problem.  Can you confirm you are on version 3.0.0?

[2020-04-03 08:44] davydav commented on #74
Yes I am, but I'm also on an old ruby 2.3.1 / rails 4.2.11.1, maybe that's the issue ?

[2020-04-03 08:57] tyrauber commented on #74
Possibly? 3.0.0 requires Mail 2.7 as a dependency.  You could try locking sendgrid-actionmailer to version 2.6.0 and see if that resolves the issue.

[2020-04-03 09:01] davydav commented on #74
Did some digging, as you can see !!(result.body) returns true in the case of an empty string. Is that behaviour different for you ?
Again, not to worry, just wanted to let you know :) thanks again !

[2020-04-03 09:16] tyrauber commented on #74
hmrph, ok. `!(response.body.empty?)` it is.

Version bump to 3.0.1.  Should resolve this issue. Thanks for digging.

[2020-04-07 09:31] tyrauber commented on #74
I'm going to close this. Let me know if you have any additional problems.

[2020-04-07 09:31] #74 closed

[2020-04-16 11:39] v-kumar opened #77 "Testability of Template Based Email"
Great gem.

We are migrating a lot of mails from conventional rails mailers to Sendgrid templates.

One thing we are missing is testability. We use personalizations with dynamic templates and there is  no clear way to get the final list of recipients.

The gem does the bulk of its work in deliver!. Is there a way the final `sendgrid_mail.to_json` can be exposed in the delivery? Maybe as additional

[2020-04-16 11:53] tyrauber commented on #77
Thanks  @v-kumar! Glad the gem is useful for you.

Unless I am misunderstanding something, the email isn't sent until you use mail.deliver!

[code]
You should be able to inspect that the email is configured properly by reviewing the mail object, including getting the  final list of recipients.  `@mail.to_json` should give you all the attributes that will be sent to sendgrid on .deliver!

But you c

[2020-04-16 12:01] v-kumar commented on #77
There is a disconnect between the Mail object and the actual mail recipients because of SendGrid Mail3 API.

[code]
personalizations = [
  {
    to: [{ email: recipient1 }, { email: recipient2 }],
    subject: "Subject Test A"
  },
  {
    to: [{ email: recipient3 }, { email: recipient4 }],
    subject: "Subject Test B"
  }
]
mail(template_id: 'blah', personalizations: personalizations)
[code]

[2020-04-16 12:05] v-kumar commented on #77
The way In would like to migrate our existing ActionMailer based tests is to

1. use VCR to mock Sendgrid Mail3 response
2. verify envelope using an interceptor. However, my issue is about getting the real envelope that is in sendgrid_mail.to_json vs what is in Mail (or lack of the real envelope details in Mail).

[2020-04-16 12:15] tyrauber commented on #77
You can inspect the personalizations attribute on mail,  no?  `@mail.pesonalizations` mail.to and mail.subject may be nil, but if personalizations were supplied, they will exist on the mail object.

I don't think you want to use VCR because that would record actual requests to the send grid api.  You could stub or mock the [sendgrid library and capture results](https://github.com/eddiezane/sendgri

[2020-04-16 13:33] v-kumar commented on #77
I am not asking to test how personalizations is set.

I want to test the actual envelope recipients.

If I use both mail.to and personalizations, the actual recipients for each email would be both [mail.to  + personalizations.map(&:to)].flaten

My main point is that, the Sendgrid Mail3 API does not fit squarely with Mail + ActionMailer.

That makes testing for mail difficult.

I want to test the w

[2020-04-16 13:53] tyrauber commented on #77
This gem is merely [a wrapper](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L45) to the [Sengrid Ruby gem](https://github.com/sendgrid/sendgrid-ruby).  [mail.json is the only request_body the gem has access to](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L280) as the actual API interaction is done throug

[2020-04-16 15:36] v-kumar commented on #77
Yep. And that (mail.json) is the only thing I want access to.

This way, I can at least asset if the subjects/recipients were sent properly.

Maybe it can be set as `mail.headers['X-Sendgrid-Request']`.

Or maybe it can be sent in delivery method response, like this:

[code]
Or maybe the `sendgrid_request ` prep could be a dedicated method, that can be used as `mail.delivery_method.sendgrid_reques

[2020-04-16 16:34] tyrauber commented on #77
@v-kumar My apologies. I see it now. to_json is not available on mail, because the [actual creation of the request payload](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L30-L35) only happens on deliver!  And an interceptor won't work because it completely avoids the deliver! method.

But, I worked up another option. Check out the branch feature/settin

[2020-04-16 17:00] v-kumar commented on #77
This is much better. Thanks,

You were very responsive throughout the day. Additional thanks for that.

[2020-04-16 17:00] #77 closed

[2020-04-16 17:04] tyrauber commented on #77
No problem. Sorry for being dense.  Would you mind checking out the branch and confirming it will work for your use case? Thanks for working through the issue with me.

[2020-05-20 01:40] adambedford opened #79 "NoMethodError: undefined method `any?' for email address"
We're seeing an error from time to time whereby this library seems to think the value passed to the `to:`  option of the `mail` method is an array. In this case, `add_personalizations` (`sendgrid_actionmailer.rb:178`) is calling `any?` on the `to` value. Since this is a string (only one recipient), it blows up.

I've also seen `each` called on the `to:` value in the past, again indicating that the

[2020-05-20 08:10] tyrauber commented on #79
Hi @adambedford, what version of the Gem are you on? `3.0.2`?  What version of Mail?

On master, `add_personalizations` isn't called until [line 182](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L182) and any? on [line 188](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L188).   I just want to make sure we

[2020-05-20 15:56] adambedford commented on #79
Hey @tyrauber Thanks for digging into this. I'm on `3.0.1` and Mail `2.7.1`. I'm seeing `any?` called on line 184

![image](https://user-images.githubusercontent.com/1626169/82466786-ae0a8e80-9a75-11ea-953f-3545c0edcc09.png)

As far as params go, here's the mailer method that causes the issue in question:

[code]

`serialize` above is a helper method that just forwards to an instance of a serializ

[2020-05-22 16:54] cgriego opened #80 "Header handling doesn't match Mail gem's delivery methods"
When using any of the built-in Mail delivery methods, this works as expected to send a custom header.

[code]

This also works.

[code]

This gem is instead requiring this:
[code]

[2020-05-23 07:35] tyrauber commented on #80
hi @cgriego,

The first method isn't an option because the gem builds upon the Mail instance and is unaware of any data not explicitly passed to it.

The second option is a possibility, but not a great one.  The gem would need to be modified to assume any non-standard attribute applied to Mail is a Header. We'd need to explicitly state which attributes are not headers and filter them out.  The bra

[2020-05-23 08:06] tyrauber commented on #79
@adambedford Are you specifying a body or a default body at the top of the template? Unfortunately due to how ActionMailer works, a body is required.  Although, I would expect that to blow up in an entirely different way.

The intermittent nature of the issue is puzzling.   I wrote a simple spec with just those attributes and the output looks fine (although it is a mock and not a real request), so

[2020-05-26 20:06] cgriego commented on #80
The two methods are really the same; ActionMailer essentially is just delegating `headers` to the `Mail` instance.

Things like `'To', 'From', 'Cc', 'Bcc', 'Reply-To', 'Subject', 'Content-Type'` are all headers, but SendGrid's API treats them specially so handling them specially in the gem makes sense, like you have in the applied_headers branch. Then the other items are also SendGrid specific ext

[2020-05-28 23:10] adambedford commented on #79
@tyrauber We're specifying a default body in the `ApplicationMailer`.  I've seen the issue on a couple of different projects now so it makes me think it's developer error but I can't tell what I might be doing wrong. I'll keep an eye out for new occurences and update here as approproate.

[2020-05-29 10:04] tyrauber commented on #79
Nor I. Everything looks correct.  One thing we could do is create a branch that wraps the whole personalization block in a begin rescue block and prints the mail object to the logs in the event that it happens again.  That way you could inspect the mail attributes in the logs and determine how to.any? might fail?

If this approach interests you, try the branch [fix/debug_personalizations](https://

[2020-07-15 08:14] davydav opened #82 "SendGrid Web API port change"
![Capture d’écran 2020-07-14 à 16 03 28](https://user-images.githubusercontent.com/272360/87520745-a9ccad00-c683-11ea-97a5-75ba95434b46.png)

Is there anything to do about it in your gem about it ? Hopefully it would only require upgrading the `sendgrid-ruby` gem, but I don't think it's been updated to handle this issue.

[2020-07-17 16:52] tyrauber commented on #82
This is really odd. This gem is a wrapper to the sendgrid-ruby gem and only accesses the sengrid api through the sendgrid-ruby gem.  The master uses sendgrid-ruby ~6.0 (which is a little old), but I would be really surprised if it was not using SSL. I highly doubt sendgrid would publish a gem that accesses their API without SSL.  As an additional data point, I've been personally using this gem in

[2020-07-30 12:07] davebream commented on #79
I can confirm the same issue. I've managed to find a specific case that this happens:

[code]

The second one returns a string which causes this exception to be raised.

[2020-08-01 07:46] tyrauber commented on #79
@davebream, I appreciate you tracking down this issue.  That's really odd. I am not entirely sure what's going on here. Why would the second case return a string? I guess that is a bug in Mail or ActionMailler?

Does switching from `any?` to `!empty?` circumvent the add_personalizations block? We need the add_personalzation block [188-193 to hit](https://github.com/eddiezane/sendgrid-actionmailer/

[2020-08-02 14:03] leoplct opened #85 "Sending email with unsubscribe link"
I can successfully send email but the "Unsubscribe" link it's not linked. It's only text. I read the Readme but it's not clear how to have it. Is there a way to have them by default instead of change it everywhere?

[code]

[2020-08-02 14:32] tyrauber commented on #85
@leoplct, If I remember correctly [substitutions will not work with dynamic templates](https://github.com/eddiezane/sendgrid-actionmailer#personalizations-json). In regards to Unsubscribe Links, [this feature, and substitutions in general, do not work in combination with dynamic templates](https://github.com/eddiezane/sendgrid-actionmailer#unsubscribe-links).

In transactional emails you can add `

[2020-08-03 08:50] davebream commented on #79
@tyrauber Sure, I can add a test case for that. If you look at `to_emails` method, it already handles a case when the input is a string:
https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L62

and if you do:
[code]

it returns
[code]

so both `to_emails` and `Email.new` can handle this case well, it looks like only the `.any?` condition that causes errors 😉

[2020-08-03 12:51] tyrauber commented on #79
Good enough for me!  Thanks for the fix.

[2020-08-03 12:51] #79 closed

[2020-08-06 00:59] RubenGram opened #86 "Error message: A JSON text must at least contain two octets!"
Hello, I'm trying to use this gem but I get this error message `A JSON text must at least contain two octets!` when I use the Action Mailer deliver_now method. I'm using a mailer, a template and calling it from a controller as usual, testing in development environment. I have no idea about the possible causes, any idea?

More details:
`Completed 500 Internal Server Error in 990ms (ActiveRecord: 4.

[2020-08-06 13:16] tyrauber commented on #86
Hi @RubenGram, not entirely sure based on the stack trace, but it looks like perhaps the api request to sendgrid failed and they are returning non-valid json. (It shouldn't err out, but that is the only place I see JSON.parse in the codebase.) Unfortunately, SendGrid has a habit of sending error messages as JSON most of the time, and sometime null responses. I have made a branch that simplifies th

[2020-08-06 15:15] RubenGram commented on #86
@tyrauber I don´t know yet the exact problem but apparently it is related to the API key configuration. I set full access to every feature (alerts, category management, IP management, etc) from sendgrid api keys settings and it worked fine, then I return to normal (only full access to API keys) and still works.

[2020-08-06 15:19] tyrauber commented on #86
Hmm, Ok, I wondered if it might be related to authorization. Thanks for reporting back.

[2020-08-06 15:19] #86 closed

[2020-08-20 18:21] drbrain opened #87 "Release tags after v2.6.0 are missing or are inconsistent"
Please add tags for releases `v3.0.1`, `v3.0.2` and `v3.1.0`, and normalize the `3.0.0` tag to `v3.0.0`.  This will make it easier to determine why I'm having problems with a particular version of sendgrid-actionmailer as I can use the tag to diff between various versions to see where or if a bug I may encounter is fixed.

The latest release of sendgrid-actionmailer on RubyGems is [3.1.0](https://

[2020-08-20 18:21] drbrain opened #88 "Git tags are missing or inconsistent"
Please add tags for releases `v3.0.1`, `v3.0.2` and `v3.1.0`, and normalize the `3.0.0` tag to `v3.0.0`.  This will make it easier to determine why I'm having problems with a particular version of sendgrid-actionmailer as I can use the tag to diff between various versions to see where or if a bug I may encounter is fixed.

The latest release of sendgrid-actionmailer on RubyGems is [3.1.0](https://

[2020-08-21 14:54] #88 closed, assigned to nobody

[2020-08-26 14:33] boardfish opened #89 "Does not load when Rails inflection has been set for 'SendGrid'"
Setting an inflection for `SendGrid` means we can make an exception to Rails' filenaming schemes. We can name models `SendGrid...` and not have to name files `send_grid_....`. However, it's introduced an issue here relating to `sendgrid-actionmailer`. The gem registers an ingress using the module name `ActionMailbox::Ingresses::Sendgrid`, but the previous acronym definition means the lookup expect

[2020-08-26 14:53] tyrauber commented on #89
@boardfish, Yeah, I think this is a naming convention, Rails / ActiveSupport::Inflector issue, not a gem specific issue.

This gem is a pretty basis library implementation. It contains a  Railtie initializer to add_delivery_method to ActionMailer::Base, and a module class containing the new delivery_method.   Further, the class definition [SendGrid](https://github.com/eddiezane/sendgrid-actionmail

[2020-08-26 14:53] #89 closed

[2020-08-26 14:59] boardfish commented on #89
Thanks for the quick response. I figured I might need to take that route. I'll look into it and comment findings here for the benefit of anyone else who deals with something similar.

[2020-08-26 16:54] boardfish commented on #89
Made a StackOverflow post [here](https://stackoverflow.com/questions/63602277/using-activesupportinflector-with-a-class-conflict).

[2020-08-27 12:57] boardfish commented on #89
Mirroring the solution I found:

Defining inflections on `ActiveSupport::Inflections` affects how they're loaded globally. Thanks to the [Rails docs](https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#customizing-inflections), I figured out that you can override inflections on Rails' loader. I ended up needing to add the following to an initializer (`.rb` file under `config/in

[2020-09-03 07:10] siva-wal commented on #82
We also got this email from SendGrid. I am actually using actionmailer with SMTP configuration as following.

[code]
I don't know why I got this. I reached support but I didn't get any answer from their side.

[2020-09-03 13:40] tyrauber commented on #82
Hi @siva-wal, are you using this gem as well, or just using SendGrid raw over SMTP?

[2020-09-03 14:06] siva-wal commented on #82
Hi @tyrauber I am not using this gem. But planning to use to avoid this issue. But what I didn't under is, since I am sending mail via SMTP but warning related to port 80. Then why I got this email from SendGrid is my confusion. I wrote that same to their support. Waiting for their reply.

[2020-09-03 15:56] eddiezane commented on #82
@thinkingserious do you know if these went out to some folks by mistake?

[2020-09-03 18:41] thinkingserious commented on #82
Hello everyone,

My apologies for any confusion.

tldr; you probably don't need to be concerned.

Please [see this thread](https://github.com/sendgrid/sendgrid-python/issues/928#issuecomment-671520855) for further discussion.

With best regards,

Elmer

Thanks for the heads up @eddiezane!!

[2020-09-22 20:14] AdamaTNT opened #90 "asm parameter does not work"
mail to: to, subject: "NEW TEST EMAIL"

works

mail(to: to, subject: 'NEW TEST EMAIL WITH ASM SUPPORT', asm: { group_id: 1234, groups_to_display: [1234]} )

does not work

neither does any of the following:
mail(to: to, subject: 'NEW TEST EMAIL WITH ASM SUPPORT', asm: { group_id: 1234, groups_to_display: []} )
mail(to: to, subject: 'NEW TEST EMAIL WITH ASM SUPPORT', asm: { group_id: 1234, groups_t

[2020-09-23 13:03] lremes opened #91 "How do I enable sandbox mode in environment file?"
We want to use SendGrid sandbox mode to test our email sending.
However, I'm unable to get it work. I've tried the code below, but the email is still sent:
[code]

What am I doing wrong?

[2020-09-23 15:25] tyrauber commented on #91
@lremes, That is completely sane expected behavior.  Unfortunately, master doesn't work like that.  mail_settings, such as sandbox can only be applied on individual mail instances and not globally through the sendgrid_actionmailer_settings configuration. Which is dumb.

Check it out the branch `feature/global_mail_settings`.  I made some minor changes to enable that functionality.  Confirm it work

[2020-09-23 15:36] tyrauber commented on #90
@AdamaTNT Looking over the test suite, the following should to be correct:

```mail(to: to, subject: 'NEW TEST EMAIL WITH ASM SUPPORT', body: 'THIS BE BODY', asm: { group_id: 1234, groups_to_display: [1234]} )```

The asm hash is contained within the payload being sent to the Sendgrid API.

Are there any other attributes being applied?

[2020-09-25 21:53] dortin42 opened #93 "Not attaching files"
Rails 5, sendgrid-actionmailer 3.1.0

I'm working with activestorage with cloudinary, and sendgrid dynamic templates, so this is what I tried:

[code]

this worked before I add this gem, I tried also with:

[code]
[code]

but nothing worked

[2020-09-30 16:06] tyrauber commented on #93
hi @dortin42, in reviewing the code and test suite, it looks like you don't pass the attachment type, just the filename and content blob as a hash, as shown in the test suite, ` mail.attachments['specs.rb'] = File.read(__FILE__)`.

Try something like this:

[code]

[2020-10-08 19:03] dortin42 commented on #93
I think adding `mail.` before `attachments` did the trick
[code]

[2020-11-04 08:41] gogiel commented on #91
I'm not the author of the original issue but I can confirm that the fix works as expected :+1:

[2020-11-06 15:15] ericplezi opened #94 "emails not delivered - 400 bad request"
I’m using sendgrid-actionmailer gem with those dependencies (also tested without)

[code]

I'm struggling with using SendGrid v3; my emails keep not being delivered, I keep receiving a 400 bad request, especially when there are special characters inside it (there are two special characters in the footer. When I remove them, the email is delivered successfully)

Do you have any what I could be doin

[2020-12-10 22:27] RubenGram opened #96 "Bcc extension for multiple addresses"
Hello, I’m using sendgrid-actionmailer gem and I need to use the bcc extension to send copies of an email to multiple recipients; however I'm not sure of how to do it since the documentation only shows the object for a single recipient:
`mail(to: 'example@email.com', subject: 'email subject', body: 'email body', mail_settings: { bcc: { enable: true, email: 'bcc@example.com' }})`

So, for multiple

[2020-12-11 14:49] tyrauber commented on #96
Hey @RubenGram, that's definitely confusing.  `mail_settings` should be used for configuration options passed to the initializer or mail object.   The ability to pass a bcc address to mail_settings probably exists for the purpose of globally bccing an address.

For more, flexible sending options, such as BCCing multiple people, [use personalizations](https://github.com/eddiezane/sendgrid-actionmai

[2020-12-16 05:07] hoangtuanictvn opened #97 "Feature request: Make it possible to config request timeout"
Hello, I'm using your sendgrid-actionmailer gem now. And I make this request to hope that you can add the feature to pass the http_options like timeout from config of actionmailer to sendgrid-ruby to set the timeout for sendgrid API request as below.

[code]

I had read some issues of the sendgrid/ruby-http-client gem. In sendgrid/ruby-http-client#20 PR, http_options were added, so I hope it is po

[2020-12-16 15:43] tyrauber commented on #97
Hello @hoangtuanictvn, sendgrid-actionmailer doesn't use sendgrid/ruby-http-client directly, but by way of sendgrid/sendgrid-ruby.  As far as I can tell, [sendgrid-ruby doesn't implement the http_options](https://github.com/sendgrid/sendgrid-ruby/blob/443ac7d034390792730130f1510491ff806f875f/lib/sendgrid/base_interface.rb#L34) provided by  [sendgrid/ruby-http-client#20](https://github.com/sendgrid

[2020-12-16 17:44] hoangtuanictvn commented on #97
@tyrauber
Sorry for my mistake.
And thank you to figure out to me its problem. I had been opened an issue at there sendgrid/sendgrid-ruby/issues/449. I hope that it can be added as soon as possible. Could I notice to you again when the problem of that issue was solved?

[2020-12-17 00:11] ur5us commented on #58
@tyrauber I assume @joshm1204 means setting the `host` which is possible with `sendgrid-ruby` and useful for testing, especially with apps recreating the Sendgrid API but otherwise acting like a mail catcher of some sorts.

[2020-12-17 00:13] ur5us opened #98 "Clarify how to test"
Using something like

[code]

should I be able to `expect(ActionMailer::Base.deliveries.size).to eq(1)`?

[2020-12-17 22:28] tyrauber commented on #58
@ur5us Thanks for the clarification.  sendgrid-actionmailer currently only passes [the api_key to sendgrid-ruby](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L49), but as you suggest there are additional attributes that can be set through [sendgrid-ruby API initialization](https://github.com/sendgrid/sendgrid-ruby/blob/main/lib/sendgrid/sendgrid.rb#L1

[2020-12-17 23:00] tyrauber commented on #98
That is a really good question! I would assume so, as [setting perform_send_request to false just skips the api call to sendgrid](https://github.com/eddiezane/sendgrid-actionmailer/blob/master/lib/sendgrid_actionmailer.rb#L37-L41). If false, [return_response true would return the mail attributes while return_response false would return the DeliveryMethod class instance](https://github.com/eddiezan

[2020-12-22 00:01] somiryu opened #99 "undefined method `unparsed_value' for #<Mail::OptionalField:0x0055bc96f25960>"
Hi. I'm trying to send a mail like this:

mail( :to => "ignore@ignome.com",
    :subject => subject, categories: ["Newsletter"],
    personalizations: [
      {to: [{email: "mail1@mail.com"}]},
      {to: [{email: "mail2@mail.com"}]},
    ])

But I receive the error in the title. I only happens when I add personalizations. I'm not using rails 5.0. Is there a workaround?

[2020-12-22 22:40] ur5us commented on #58
@tyrauber There are multiple purposes I think but one specific is this: https://github.com/TimKaechele/PostDoc Currently, it’s not possible to use PostDoc as a custom host can’t be configured.

[2020-12-23 00:32] ur5us commented on #98
@tyrauber Currently it does not behave as expected as far as I can tell.

Sure but the sandbox mode is an orthogonal feature/concern IMO. It’s an integration/system test actually involving hitting a 3rd party. There’s certainly value in that. But here I’m trying to test a system without hitting 3rd parties as email delivery itself is not the main concern of the test. The test scenario only needs t

[2020-12-23 14:50] tyrauber commented on #99
Hi @somiryu, can you confirm you are on the current version of the gem. Also, if you could share a full stack trace that would be helpful. Specifically, which Mail::OptionalField is throwing this error.

[2020-12-23 15:40] tyrauber commented on #58
@ur5us Give the branch feature/sendgrid_api_settings a try.

[code]

It should enable you to globally pass api_key and host ( or the other SendGridApi client settings) to sendgrid_actionmailer_settings:
[code]
 or the mail instance through delivery-method-options:

[code]

[2020-12-23 15:57] somiryu commented on #99
Hi! I updated to rails 5 and it worked like a charm. I think this was the push I needed to make the update. Still, if this can be helpful, in rails 4.2 it raises two errors:

return true if elm&.dig(:email) == additonal_mail
I think I solved it by changing it for elm[:email] == additional_mail

With that I was able to send a mail with the simple fields (:to, :subject) and I think with :categories

[2021-01-08 13:19] #94 closed

[2021-01-20 07:34] jaredsohn commented on #98
@ur5us Did you find a solution?

If the gem doesn't provide a flag to not send you can always use vcr or do other request mocking, although that requires a bit of work when switching from action mailer.

[2021-01-20 08:05] jaredsohn commented on #98
@ur5us When using sendgrid via smtp we would set action_mailer.delivery_method to test when running tests; works fine when I keep that.

[code]

[2021-01-25 06:20] mmahalwy opened #100 "Testing in development with letter_opener?"
Is it possible? :)

[2021-01-25 16:25] tyrauber commented on #100
You can use either letter_opener or sendgrid-actionmailer by configuring action_mailer in your environment configuration, but you can't use both at the same time, as both are action_mailer delivery_methods and you can only use one delivery_method per environment (as far as I know).

[2021-01-25 16:25] #100 closed

[2021-01-28 03:09] mmahalwy commented on #100
@tyrauber makes sense. what would you suggest as the best way to test in development?

[2021-02-01 23:44] ur5us commented on #98
@jaredsohn Yes, I have that line in my `config/environments/test/rb` file. Yet, this was a good hint as to why it wasn’t working **for my setup**. Currently, that particular app uses a dual approach to sending emails due to historical reasons, i.e. emails with templates (HTML/text) generated by Rails and emails using Sendgrid’s dynamic templates. Thus, I have the following 2 mailers:

[code]

The

[2021-02-01 23:44] #98 closed

[2021-02-02 12:28] tyrauber commented on #100
hi @mmahalwy, it really depends on your implementation and what you are trying to test.  If you aren't using Sendgrid Templates and using ActionMailer templates, I'd just use letter opener in development:
[code]
If you are using templates, then you'd need to use the sendgrid-actionmailer delivery_method in development as well in order to "preview" the emails. But you need to be really careful beca

[2021-02-15 21:57] eddiezane opened #103 "Renaming master branch to main"
I'm in the process of renaming the primary branch on all of my repos from `master` to `main`.

GitHub has improved their tooling to (hopefully) make this seamless. Redirects will be put in place and users will be prompted with commands to run locally upon visiting the page.

If there's no objections I'll proceed with lazy consensus next week.

https://github.com/github/renaming#renaming-existing-b

[2021-02-15 22:26] eddiezane opened #104 "Migrate off Travis CI"
This project currently uses TravisCi.org which was supposed to [shut down end of 2020](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom?e=%5BUNIQID%5D).

Probably a good idea to migrate to GitHub actions.

@tyrauber any thoughts?

[2021-02-15 23:04] tyrauber commented on #104
Yep, sounds like a good idea. Something like [feature/github_actions](https://github.com/eddiezane/sendgrid-actionmailer/blob/feature/github_actions/actions.yml) should work.

[2021-02-16 14:52] #104 closed

[2021-02-16 14:57] #97 closed

[2021-02-16 14:59] tyrauber commented on #82
Closing due to inactivity. Please reopen if the problem has persisted.

[2021-02-16 14:59] #82 closed

[2021-02-16 14:59] tyrauber commented on #85
Closing due to inactivity. Please reopen if the problem has persisted.

[2021-02-16 14:59] #85 closed

[2021-02-16 15:00] tyrauber commented on #90
Closing due to inactivity. Please reopen if the problem persists.

[2021-02-16 15:00] #90 closed

[2021-02-16 15:00] #93 closed

[2021-02-16 15:01] #96 closed

[2021-02-16 15:07] #91 closed

[2021-02-16 15:07] #99 closed

[2021-03-04 21:48] eddiezane commented on #103
This is done. Folks should see these instructions when visiting the repo.

[code]

[2021-03-04 21:48] #103 closed

[2021-05-18 01:34] gkpty opened #109 "Actionmailer test helper not working with sandbox"
I am using the actionmailer test helper `assert_emails` method in various tests; I have added `{ sandbox_mode: { enable: true }}` in the sendgrid_actionmailer_settings configuration but the tests arent passing because the emails arent being sent. Thanks in advance for any help with this!

[code]

[2021-08-10 11:11] muhrizkiakbar commented on #94
i found this issue too, so what do you do to fix this issue ?

[2021-12-07 22:57] mrjonesbot opened #111 "How do I send attachments?"
Initially sent an array of hashes under `:attachments` with keys matching what the Sendgrid API might expect, but that did not work.

[2022-02-16 12:58] mountriv99 commented on #99
Hi I'm still getting this when trying it out in the console with "custom_args" (works if i remove custom_args)

[code]

[code]

Rails 5.1.6
ruby 2.3.1p112
sendgrid-actionmailer-3.2.0

[2022-02-22 10:47] mountriv99 opened #113 "NoMethodError: undefined method `unparsed_value' for #<Mail::OptionalField:0x007fbc2ad7b318>"
Hi I think this is related to issue https://github.com/eddiezane/sendgrid-actionmailer/issues/99

OP was using "personalizations" and I'm using "custom_args" (works if i remove custom_args)

Still having this error in Rails 5

Rails 5.1.6
ruby 2.3.1p112
sendgrid-actionmailer-3.2.0

[code]

[code]

[2022-03-16 04:39] mountriv99 commented on #113
Update: works if i downgrade to 3.1.1

I suspect it's caused by this commit
https://github.com/eddiezane/sendgrid-actionmailer/commit/271de1c3db5b6e3ba3897aa58c53727a87a9f4cf

[2022-05-18 07:43] exocode opened #114 "Having troubles with attachments"
Hi there,
I've troubles sending with attachments. The first run raises an error, when I do the exact same command again, it works:

Complete output

[code]

Complete mailer class

[code]

Anything more I've to concern? Did I miss something?

Gemfile:

[code]

`development.rb`

[code]

[2022-11-01 10:24] deepakmahakale commented on #109
@gkpty were you able to get it working?